<% content_for :title, "Editing movie" %>

<div class="container">

  <div class="heading">

    <div>
        <h1>Edit Movie</h1>
    </div>

    <div>
        <%= link_to "<button class='btn-list'>Back to movies</button>".html_safe, movies_path%>
    </div>

  </div>

  <div>
    <%= render "form", movie: @movie %>
  </div>

</div>


