<div class="container">
  <p class="heading" style="color: green"><%= notice %></p>
  <div class="heading">
     <div>
        <h1>Show Movie</h1>
    </div>
    <div>
      <%= link_to "<button class='btn-list'>Back to movies</button>".html_safe, movies_path(sort: session[:sort_column], direction: session[:sort_direction])%>
    </div>
  </div>

  <div>
       <%= render "form", movie: @movie %>
      
  </div>  

</div>
