<div class="container">

  <p style="color: green"><%= notice %></p>

  <div class="heading">
     <div>
        <h1>Show Movie</h1>
    </div>
    <div>
       
        <%= button_to "Delete Movie", @movie, method: :delete, class: "btn-delete", form_class: "delete-form" %>
    </div>
  </div>

  <div>
       <%= render "form", movie: @movie %>
      
  </div>  

</div>
