
.container{

    margin-left: auto;
    margin-right: auto;
    width: 60%;
    margin-top: 50px;
}

#movies{
   
    width: 100%;
    border-collapse: collapse;
}

.tb-th{
    text-align: left;
    padding: 10px;
    background-color: #DCDCDC;
}

td{
    padding: 10px;
    text-align: left;
}

#list-heading{
    margin-left: auto;
    margin-right: auto;
}

#tfoot-th>th{
    text-align: left;
    padding: 10px;
}

tr:nth-child(even){background-color: #f2f2f2}

#btn{
    background-color: #17a2b8;
    color: white;
    border: none;
    padding: 7px 10px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 4px;

}

#btn:hover{
    background-color: #138496
}

#btn-create{
    background-color: #28a745;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 4px;
}

#btn-create:hover{
    background-color: #218838;
}